<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

  <style>
    body {
      background-image: url('/car.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>

</head>
<body>
<h1>Login</h1>
<form action="#" th:action="@{/loggedin}" th:object="${loginModel}" method="post">
  <p>Email: <input type="text" th:field="*{email}" /></p>
  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

  <p>Password: <input type="text" th:field="*{password}" /></p>
  <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

  <p><input type="submit" value="Enter" /></p>
</form>

</body>
</html>